.content {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.page {
    align-content: center;
    text-align: center;
    display: inherit;
    height: inherit;
    width: 80%;
    margin: 20px;
}

.PageHeader {
    text-align: center;
}

.navigation {
    display: inherit;
    height: inherit;
    width: 15%;
}

.link {
    padding: 5px;
    font-size: 20px;
}

.text {
    text-decoration: none;
    color: black;
}